name: Rust CI

on:
    push:
        paths:
            - "**.rs"
            - "**.toml"
            - "**.lock"
            - "**rust-ci.yml"
    pull_request:
        paths:
            - "**.rs"
            - "**.toml"
            - "**.lock"
            - "**rust-ci.yml"

env:
    CARGO_TERM_COLOR: always

jobs:
    build-test-lint-audit:
        name: Build, test, clippy, audit
        runs-on: ubuntu-latest

        concurrency:
            group: build-test-lint-audit-${{ github.ref }}
            cancel-in-progress: true

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Build
              run: cargo build --verbose
            - name: Install cargo-nextest
              uses: taiki-e/install-action@nextest
            - name: Test
              run: cargo nextest run --verbose
            - name: Doc tests (skipped by nextest)
              run: cargo test --doc
            - name: Clippy
              run: cargo clippy --verbose -- -D warnings
            - name: Check fmt
              run: cargo fmt --all -- --check
            - name: Audit Rust Dependencies
              uses: actions-rust-lang/audit@v1

    publish-github-pages:
        name: Deploy to GitHub Pages
        runs-on: ubuntu-latest

        needs: build-test-lint-audit
        if: github.ref_name == github.event.repository.default_branch

        concurrency:
            group: deploy
            cancel-in-progress: true

        permissions:
            id-token: write
            pages: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Rust Stable
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
                  components: rustfmt, clippy

            - name: Use Node.js 25.*
              uses: actions/setup-node@v6
              with:
                  node-version: 25

            - name: Build wasm page
              run: |
                  RUSTFLAGS='--cfg getrandom_backend="wasm_js"' npx wasm-pack build "puzzle-cube-ui" --target web --out-name web --out-dir ../web/pkg
                  cd web
                  npm install
                  npm run build

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "./web/dist"

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
