name: Web Build

on:
    workflow_call:
    workflow_dispatch:

env:
    CARGO_TERM_COLOR: always

jobs:
    wasm-build:
        name: Wasm Build
        runs-on: ubuntu-latest

        concurrency:
            group: wasm-build-${{ github.ref }}
            cancel-in-progress: true

        steps:
            - name: Update Rust
              run: rustup update stable
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Use dependencies cache
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ${{ runner.os }}-cargo-wasm-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-cargo-wasm-
            - name: Use Node.js 25.*
              uses: actions/setup-node@v6
              with:
                  node-version: 25
            - name: Build wasm page
              run: |
                  npx wasm-pack build "puzzle-cube-ui" --target web --out-name web --out-dir ../web/pkg
                  cd web
                  npm install
                  npm run build
